body{
    margin: 0;
}

.expo-bg-image {
    background-image: url('./images/H22_City_Expo_Desktop.jpeg');
    background-size: contain; 
    background-repeat: no-repeat;
    height: 881px;
    width: 100%;
    
}

.logo-h22 {
    position: absolute;
    top: 50px;
    left: 50px;
}

.main-heading {
    color: white;
    position: absolute;
    top: 250px;
    left: 50px;
}

.main-heading-h1 {   
    font-size: 88px;
    margin-bottom: -40px;   
}

.main-date {
    font-size: 52px; 
}

.main-city {
    font-size: 32px;
    margin-top: -40px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.bottomline {
    border-bottom-width: 2px;
    border-bottom-color: #f1f1f1;
    width: 80%;
    margin-left: 10%;
    border-bottom-style: double;
}

.sidenav {
    color: white;
    background-color: #a61380;
    padding-top: 15px;
}

.sidenav a {
    color: white;
    font-size: 24px;
}

.slide-show {
    background-color: burlywood;
    height: 500px;
    width: 100%;
}

.events-slide-show {
    background-color: deepskyblue;
    height: 600px;
    width: 100%;
}

.region-box-picture {
    height: 600px;
    width: 100%;
    background-color: crimson;
}

.meny-buton {
    
    margin-right: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    padding: 20px 0px;
    color: white;
    background-color: #a61380;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    width: var(--chakra-sizes-full);
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: var(--chakra-sizes-8xl);
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    display: flex;
    justify-content: space-around;
}

.nav-container button{
    width: 40px;
    border: none;
    margin-left: 120px;
    background-color: #a61380;
    color: #f1f1f1;
}





@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .slide-show {
        background-color: burlywood;
        height: 500px;
        width: 100%;
    }

    .events-slide-show {
        background-color: deepskyblue;
        height: 600px;
        width: 100%;
    }

    .region-box-picture {
        height: 600px;
        width: 100%;
        background-color: crimson;
    }

    .meny-buton {
        display: flex;
        justify-content: flex-end;
    }


}